@using Microsoft.AspNet.Identity
@model MagicCuisine.Models.RecipeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    <h1>@Model.Recipe.Title</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="@Model.Recipe.Avatar" />
    </div>
    <div class="col-md-9">
        <p class="pre-wrap">@Model.Recipe.Description</p>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        @{Html.RenderAction("Index", "Comment", new { recipeId = Model.Recipe.ID });}
    </div>
            }

<h1>Comments</h1>

@{
    foreach (var item in Model.Recipe.Comments)
    {
        <div class="row message-container">
            <div class="img-message">
                <img src="@item.UserAvatar" />
            </div>
            <div class="dialogbox">
                <div class="body">
                    <span class="tip tip-left"></span>
                    <div class="message">
                        <div id=@("edit-" + item.ID)>
                            <span class="pre-wrap">@item.Description</span>
                        </div>
                    </div>
                    <div class="message-footer">
                        <div class="col">@item.UserEmail</div>
                        <div class="col">@item.Date</div>
                    </div>
                </div>
            </div>
            @if (User.Identity.GetUserName() == item.UserEmail)
            {
                <div>
                    @using (Html.BeginForm("Delete", "Comment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("commentId", item.ID)
                        @Html.Hidden("recipeId", Model.Recipe.ID)
                        <button type="submit" class="btn btn-primary control-button">@Html.FontAwesome(FontAwesomeIconSet.Close)</button>
                    }
                </div>
                <div>
                    @using (Ajax.BeginForm("Edit",
                                    "Comment",
                                    new { commentId = item.ID },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        UpdateTargetId = "edit-" + item.ID,
                                        InsertionMode = InsertionMode.Replace
                                    },
                                    new { @class = "form-horizontal", role = "form" }))
                    {
                        <button type="submit" class="btn btn-primary control-button">@Html.FontAwesome(FontAwesomeIconSet.Pencil)</button>
                    }
                </div>
            }
        </div>
    }
}