@using Microsoft.AspNet.Identity
@model MagicCuisine.Models.RecipeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    <h1>@Model.recipe.Title</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="@Model.recipe.Avatar" />
    </div>
    <div class="col-md-9">
        <p class="pre-wrap">@Model.recipe.Description</p>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        @{Html.RenderAction("Index", "Comment", new { recipeId = Model.recipe.ID });}
    </div>
            }

<h1>Comments</h1>

@{
    foreach (var item in Model.recipe.Comments)
    {
        <div class="row message-container">
            <div class="img-message">
                <img src="@item.UserAvatar" />
            </div>
            <div class="dialogbox">
                <div class="body">
                    <span class="tip tip-left"></span>
                    <div class="message">
                        <span class="pre-wrap">@item.Description</span>
                    </div>
                    <div class="message-footer">
                        <div class="col">@item.UserEmail</div>
                        <div class="col">@item.Date</div>
                    </div>
                </div>
            </div>
            @if (User.Identity.GetUserName() == item.UserEmail)
            {
                <div>
                    @using (Html.BeginForm("Delete", "Comment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("commentId", item.ID)
                        @Html.Hidden("recipeId", Model.recipe.ID)
                        <button type="submit" class="btn btn-primary">@Html.FontAwesome(FontAwesomeIconSet.Close)</button>
                    }
                </div>
            }

        </div>
    }
}


