@model MagicCuisine.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron logo-container">
    <img id="logo-img" src="@Model.LogoImg" />
</div>

@{
    for (int i = 0; i < Model.Recipes.Count; i+=3)
    {
        <div class="row">
        @{
            for (int j = i; j < Math.Min(i+3, Model.Recipes.Count); j++)
            {
             <div class="col-md-4">
                 <h4>@Model.Recipes[j].Title</h4>
                 <img src="@Model.Recipes[j].Avatar" />
                 @{
                     var description = Model.Recipes[j].Description;
                     if (description.Length > 250)
                     {
                         description = description.Substring(0, 100) + "...";
                     }
                    <p class="pre-wrap">@description</p>
                }
                 <p>
                     @Html.ActionLink("More", "Index", "Recipe", new { area = "", id = Model.Recipes[j].ID}, new { @class = "btn btn-default" })
                 </p>
             </div>
            }
        }       
        </div>
    }
}
