<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Mvc.RazorTools.BundleManager.Styles.Render()
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Magic Cuisine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Home", cssClass:"active")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@Html.IsSelected(actions: "About", controllers: "Home", cssClass:"active")">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@Html.IsSelected(actions: "Contact", controllers: "Home", cssClass:"active")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Test", cssClass:"active")">@Html.ActionLink("Test", "Index", "Test")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footerleft footer-hide">
                    <div class="logofooter"> Magic Cuisine</div>
                    <p>Nothing is better than going home to family and eating good food and relaxing!</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 footerleft">
                    <p>@Html.FontAwesome(FontAwesomeIconSet.MapMarker.Large1x()) 31, bul. Alexander Malinov - SOFIA</p>
                    <p>@Html.FontAwesome(FontAwesomeIconSet.Phone.Large1x()) Phone (Buglaria) : +359 893 32 80 60</p>
                    <p>@Html.FontAwesome(FontAwesomeIconSet.Envelope.Large1x()) E-mail : tsvetanov@gmail.com</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 footer-icons">
                    <a href="https://www.facebook.com/telerikacademy">@Html.FontAwesome(FontAwesomeIconSet.FacebookSquare.Large3x())</a>
                    <a href="https://github.com/krutzz/MagicCuisine">@Html.FontAwesome(FontAwesomeIconSet.GithubSquare.Large3x())</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>@Html.FontAwesome(FontAwesomeIconSet.Copyright.Large1x()) @DateTime.Now.Year - All Rights protected with DMCA</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
